:root {
  --primary-color: #48d6d2;
  --title-font: "Montserrat", sans-serif;
  --undertitle-font: "Lora", serif;
  --text-font: "Hind Madurai", sans-serif;
  --primary-color-alpha: rgba(72, 214, 210, 0.1);
  --secondary-color: #f8f9fa;
}
body {
  background-color: var(--secondary-color);
  color: rgb(63, 63, 63);
}
h1 {
  font-family: var(--title-font);
  font-weight: bold;
  font-size: 40px;
  line-height: 50px;
}
h2 {
  font-family: var(--undertitle-font);
  font-style: italic;
  font-size: 26px;
  line-height: 40px;
}
p {
  font-family: var(--text-font);
  font-size: 15px;
}

.title h2 {
  font-family: var(--undertitle-font);
  font-style: italic;
  font-size: 20px;
  line-height: 20px;
  margin: 5px;
}
.title p {
  font-family: var(--text-font);
}

.default-link {
  text-decoration: none;
  font-weight: bold;
  color: var(--primary-color);
}
.default-link:hover {
  text-decoration: none;
  font-weight: bold;
  color: var(--primary-color);
  text-decoration-line: underline;
}

.nav-bar-text {
  font-family: var(--title-font);
}
.nav-bar-color {
  color: var(--primary-color);
}

.bg-frontpage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 6vh;
  justify-items: center;
  background-color: var(--primary-color);
  min-height: 720px;
  width: 100vw;
  height: 90vh;
  clip-path: polygon(0 15%, 100% 0%, 100% 85%, 0% 100%);
}

.title-homepage {
  text-align: left;
  color: var(--secondary-color);
}
.title-homepage h1 {
  font-family: var(--title-font);
  font-weight: bold;
  font-size: 40px;
  line-height: 50px;
}
.title-homepage h2 {
  font-family: var(--undertitle-font);
  font-style: italic;
  font-size: 26px;
  line-height: 50px;
}

.btn-brand,
.btn-brand:visited {
  text-decoration: none;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  font-weight: bold;
  padding: 15px 30px;
  border: 1px solid var(--secondary-color);
  border-radius: 15px;
}

.btn-brand:hover {
  text-decoration: none;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  transition: all 150ms ease-in-out;
}
.btn-certificate,
.btn-certificate:visited {
  text-decoration: none;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  font-weight: bold;
  padding: 15px 30px;
  border: 1px solid var(--primary-color);
  border-radius: 15px;
  margin: auto;
  transition: all 150ms ease-in-out;
}

.btn-certificate:hover {
  text-decoration: none;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  margin: auto;
}
.btn-margin {
  margin-right: 60px;
}

.botton-container {
  margin-top: 90px;
}

.navbar-light .navbar-nav .nav-link.active {
  color: var(--primary-color);
  font-weight: bold;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: var(--secondary-color);
  background-color: var(--primary-color);
}

.page-margin {
  margin-top: 12vh;
}

.infobox {
  background-color: var(--primary-color-alpha);
  padding: 30px 20px;
}
.titles-page {
  background-color: var(--primary-color-alpha);
  color: var(--primary-color);
  padding: 20px;
}

.border-end-p {
  border-radius: 0 15px 15px 0;
}
.border-start-p {
  border-radius: 15px 0 0 15px;
}
.container-page {
  padding: 160px 0;
  text-align: left;
}

.container-page img {
  min-width: 300px;
}

@media (max-height: 880px) {
  .bg-frontpage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 5vh;
    justify-items: center;
    background-color: var(--primary-color);
    min-height: 720px;
    width: 100vw;
    height: 90vh;
    padding-top: 20px;
    clip-path: polygon(0 15%, 100% 0%, 100% 85%, 0% 100%);
  }
  .title-homepage {
    text-align: center;
    color: var(--secondary-color);
    padding: 0 5px;
  }

  .container-page {
    padding: 80px 0;
    text-align: left;
  }
  .default-link {
    text-decoration: none;
    font-weight: bold;
    color: var(--primary-color);
  }
  .default-link:hover {
    text-decoration: none;
    font-weight: bold;
    color: var(--primary-color);
    text-decoration-line: underline;
  }
}

@media (max-width: 769px) {
  .bg-frontpage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 0vh;
    justify-items: center;
    background-color: var(--primary-color);
    min-height: 720px;
    width: 100vw;
    height: 100vh;
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
  }
  .title-homepage {
    text-align: center;
    color: var(--secondary-color);
    padding: 0 5px;
  }

  .btn-brand,
  .btn-brand:visited {
    text-decoration: none;
    display: block;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    font-weight: bold;
    border: 1px solid var(--primary-color);
    border-radius: 0px;
    margin-bottom: 20px;
    transition: all 150ms ease-in-out;
  }
  .btn-brand:hover {
    text-decoration: none;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    font-weight: bold;
    border: 1px solid var(--secondary-color);
    border-radius: 0px;
    margin-right: 0px;
  }
  .btn-margin {
    margin-right: 0px;
  }

  .botton-container {
    margin-top: 90px;
    width: 100vw;
  }
  .container-page {
    padding: 80px 0;
    text-align: center;
  }
}
