:root {
  --primary-color: #48d6d2;
  --title-font: font-family: "Work Sans", sans-serif;
}

h1,h2,h3{
  font-family: var(--title-font);
}

.bg-frontpage{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 5vh;
  justify-items: center;
  background-color: var(--primary-color);
  min-height: 720px;
  width: 100vw;
  height: 90vh;
  clip-path: polygon(0 15%, 100% 0%, 100% 85%, 0% 100%);

}

.title-introduction{
  
  color: white;
  
}

.title-introduction h1{

  font-size: 40px;
}

.title-introduction h2{

  font-size: 30px;
  font-weight: lighter;
  
}
.title-introduction P{

  font-size: 32px;
  font-family: 'Oooh Baby', cursive;
  margin-bottom: 75px;
  
}


.btn-brand{
  text-decoration: none;
  background-color: var(--primary-color);
  color: white;
  font-weight: bold;
  padding: 15px 25px;
  border: 1px solid white;
  border-radius: 15px;
}
.btn-brand:visited{
  text-decoration: none;
  background-color: var(--primary-color);
  color: white;
  font-weight: bold;
  padding: 15px 25px;
  border: 1px solid white;
  border-radius: 15px;
}
.btn-brand:hover{
  text-decoration: none;
  background-color: white;
  color: var(--primary-color);
  font-weight: bold;
  padding: 15px 25px;
  border: 1px solid white;
  border-radius: 15px;
}

.botton-container{
  margin-top: 90px;
}



@media (max-height: 680px){
  
  .bg-frontpage{
    display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 5vh;
  justify-items: center;
  background-color: var(--primary-color);
  min-height: 720px;
  width: 100vw;
  height: 90vh;
  clip-path: polygon(0 15%, 100% 0%, 100% 85%, 0% 100%);
  
}
.title-introduction{
  text-align: center;
  margin-left: 3%;
  margin-right: 3%;
  margin-top: 9%;
}
.title-introduction h1{
  
  font-size: 25px;
}

.title-introduction h2{
  
  font-size: 20px;
  font-weight: lighter;
  
}
.title-introduction P{
  
  font-size: 25px;
  font-family: 'Oooh Baby', cursive;
  margin-bottom: 45px;
  
}

}

@media (max-width: 769px){

.bg-frontpage{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 0vh;
  justify-items: center;
  background-color: var(--primary-color);
  min-height: 720px;
  width: 100vw;
  height: 100vh;
  clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
}
.title-introduction{
  text-align: left;
  margin-left: 5%;
  margin-right: 5%;
 
}
.title-introduction h1{

  font-size: 25px;
}

.title-introduction h2{

  font-size: 20px;
  font-weight: lighter;
  
}
.title-introduction P{

  font-size: 25px;
  font-family: 'Oooh Baby', cursive;
  margin-bottom: 45px;
  
}

.btn-brand:visited{
  display: block;
  text-decoration: none;
  background-color: var(--primary-color);
  color: white;
  font-weight: bold;
 
}
.btn-brand:hover{
  text-decoration: none;
  display: block;
  background-color: white;
  color: var(--primary-color);
  font-weight: bold;
  
}

.botton-container{
  margin-top: 90px;
}


}


